<footer class="bg-dark text-white pt-5 pb-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h5 class="text-uppercase fw-bold mb-4">Khoa Công nghệ Thông tin</h5>
                <p><i class="fas fa-university me-3"></i> Trường Đại học Công Thương TP.HCM</p>
                <p><i class="fas fa-map-marker-alt me-3"></i> 140 Lê Trọng Tấn, P. Tây Thạnh, Q. Tân Phú, TP.HCM</p>
                <p><i class="fas fa-phone me-3"></i> (028) 38161673 - Ext: 123</p>
                <p><i class="fas fa-envelope me-3"></i> kcntt@huit.edu.vn</p>
            </div>
            <div class="col-lg-2 mb-4">
                <h5 class="text-uppercase fw-bold mb-4">Liên kết nhanh</h5>
                <ul class="list-unstyled">
                    <li><a href="gioitieu.html" class="text-white-50 text-decoration-none">Giới thiệu</a></li>
                    <li><a href="daotao.html" class="text-white-50 text-decoration-none">Chương trình đào tạo</a></li>
                    <li><a href="giangvien.html" class="text-white-50 text-decoration-none">Đội ngũ giảng viên</a></li>
                    <li><a href="tintuc.html" class="text-white-50 text-decoration-none">Tin tức & Sự kiện</a></li>
                </ul>
            </div>
            <div class="col-lg-2 mb-4">
                <h5 class="text-uppercase fw-bold mb-4">Sinh viên</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50 text-decoration-none">Cổng thông tin SV</a></li>
                    <li><a href="#" class="text-white-50 text-decoration-none">Thời khóa biểu</a></li>
                    <li><a href="#" class="text-white-50 text-decoration-none">Kết quả học tập</a></li>
                    <li><a href="#" class="text-white-50 text-decoration-none">E-Learning</a></li>
                </ul>
            </div>
            <div class="col-lg-4 mb-4">
                <h5 class="text-uppercase fw-bold mb-4">Bản đồ</h5>
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1251208005316!2d106.62713011474922!3d10.801727892304383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be2853bb663%3A0xf93b143a13906192!2zMTQwIEzDqiBUcuG7jW5nIFThuqVuLCBUw6J5IFRo4bqhbmgsIFTDom4gUGjDuiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1625543123456!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <hr class="my-4 bg-secondary">
        <div class="text-center text-white-50">
            <small>&copy; 2026 Khoa Công nghệ Thông tin - HUIT. All rights reserved.</small>
        </div>
    </div>
</footer>
