<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center gap-2" href="index.html" aria-label="Khoa Công nghệ Thông tin HUIT">
            <img src="assets/img/logo.png" alt="Logo HUIT">
            <span>
                <span class="navbar-brand-title d-block">KHOA CÔNG NGHỆ THÔNG TIN</span>
                <span class="navbar-brand-subtitle d-block">ĐẠI HỌC CÔNG THƯƠNG TP.HCM</span>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Mở menu điều hướng">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link px-lg-3" href="index.html">Trang chủ</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3" href="gioitieu.html">Giới thiệu</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3" href="giangvien.html">Giảng viên</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3" href="daotao.html">Đào tạo</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3" href="tintuc.html">Tin tức</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3" href="lienhe.html">Liên hệ</a></li>
                <li class="nav-item">
                    <button class="theme-toggle-btn" id="theme-toggle-btn" type="button" aria-label="Chuyển đổi giao diện">
                        <i class="fas fa-moon"></i>
                    </button>
                </li>
            </ul>
            <form class="d-flex ms-lg-3 mt-3 mt-lg-0" role="search">
                <input class="form-control rounded-pill" type="search" placeholder="Tìm kiếm..." aria-label="Tìm kiếm">
            </form>
        </div>
    </div>
</nav>
